#container {
    width: 1080;
    margin: 0 auto;
}

header {
    padding: 15px 0;
    height: 55px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    float: right;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#logo {
    background-color: #111;
}

#logo h1 {
    float: left;
}

#logo a {
    width: 248px;
    height: 21px;
    display: block;
}